footer {
    height: 300px;
    background: #393e46;
    display: flex;
    justify-content: center;
    align-items: center;
    .redes-sociales {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a {
            padding: 20px;
            color: #fff;
            font-size: 30px;
        }
        .facebook {
            color: #fff;
            &:hover {
                color: #3B5998;
            }
        }
        .instagram {
            color:#fff;
            &:hover {
                color: #2C6A93;
            }
        }
        .google-plus {
            color: #fff;
            &:hover {
                color: #dd4b39;
            }
        }
    }
    p {
        color: #fff;
    }
}