.main {
    .caracteristicas {
        padding: 70px 0;
        .titulo {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 32px;
            color: #000;
            margin-bottom: 70px;
        }
        .caracteristica {
            text-align: center;
            .icono {
                vertical-align: top;
                margin-bottom: 30px; 
            }
            .primera_linea {
                font-weight: 700;
                margin-bottom: 30px;
                font-size: 20px;
            }
            .parrafo {
                margin-bottom: 30px;
                line-height: 28px;
            }
        }
    }
    .compromiso {
        padding: 70px 0;
        .titulo {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 32px;
            color: #000;
            margin-bottom: 70px;
        }
        .icono {
            margin-bottom: 30px;
        }
        .parrafo {
            margin-bottom: 30px;
            line-height: 28px;
            text-align: justify;
        }
    }
    .proyecto {
        padding: 70px 0;
        .titulo {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 32px;
            color: #000;
        }
        .subtitulo {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 28px;
            color: #000;
            margin-bottom: 70px;
        }
        .svg {
            width: 150px;
            margin-bottom: 30px;
        }
        .parrafo {
            text-align: center;
        }
    }
}